<table style='background:#faf7ec63;width: 100%;color: #5e5d5e;font-size:16px;font-family: "Comic Sans MS", cursive, sans-serif'>
    <tr>
        <td>
            <table style="border:1px solid #e7d3ba;width:90%;max-width:550px;background: #faf7ec;margin: 60px auto;padding: 0;">
                <tr>
                    <td style="padding: 20px;text-align: center" colspan="2">
                        <img src="https://www.dropbox.com/s/4yb2tnlpl78sojk/logo-2.png?raw=1"
                             height="80px" alt="logo"/>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px;background: #ece9cf;text-align: center;font-size: 16px;font-weight: bold;"
                        colspan="2">
                        <a href="#" style="color: #4c4d5a;text-decoration: none;">Laptops & Accessories</a> |
                        <a href="#" style="color: #4c4d5a;text-decoration: none;">Audio</a> |
                        <a href="#" style="color: #4c4d5a;text-decoration: none;">Computer Peripherals</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="padding: 15px;font-size: 26px;font-weight: 200;">
                            Don't sit on it!
                        </div>
                        <div style="padding: 15px;font-size: 18px;text-align: justify;line-height: 32px">
                            Hi {{customer.name}}, We noticed that you have recently visited our website and we would not
                            want you to miss out on the lovely pieces having in your shopping cart. If you experienced
                            any problems placing your order then contact our customer support team.
                        </div>
                        <div style="padding: 15px;">
                            <a href="{{cart.recovery_url}}"
                               style="background: #70b8af;display:inline-block;text-decoration: none;padding: 15px;border: 1px solid #70b8af;border-radius: 5px;font-size: 18px;color: #ffffff !important;">Complete
                                order</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 15px;">
                        {{cart.items_table}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 15px;text-align: center">
                        <a href="{{shop_url}}"
                           style="background: #f7f1df;display:inline-block;text-decoration: none;padding: 15px;border: 1px solid #e6e0d1;border-radius: 5px;font-size: 18px;color: #8b887f !important;">Continue
                            Shopping</a>
                        <a href="{{cart.recovery_url}}"
                           style="background: #70b8af;display:inline-block;text-decoration: none;padding: 15px;border: 1px solid #70b8af;border-radius: 5px;font-size: 18px;color: #ffffff !important;">Complete
                            order</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 15px;text-align: center">
                        <p style="font-size: 18px;">Happiness in every bite :)</p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px;text-align: center;font-size: 16px;"
                        colspan="2">
                        <a href="#" style="color: #4c4d5a;text-decoration: none;">support@email.test</a> |
                        <a href="#" style="color: #4c4d5a;text-decoration: none;">+1 0863636663</a> |
                        <a href="#" style="color: #4c4d5a;text-decoration: none;">shop.com</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="background:#e7d3ba;padding: 15px;text-align: center">
                        <div>Shop name, Address 1, 98747.</div>
                        <div style="margin-top: 16px;font-size: 12px;">No longer want to to receive emails <a href="#"
                                                                                                              style="color: #5e5d5e;">Unsubscribe</a>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<style>
    .acbwm-cart {
        border-collapse: collapse;
    }

    .acbwm-cart thead tr {
        background: #746a69;
        color: #ffffff;
    }

    .acbwm-cart th, .acbwm-cart td {
        padding: 15px 5px;
    }
</style>